<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"    
    xmlns:context="http://www.springframework.org/schema/context"    
    xmlns:mvc="http://www.springframework.org/schema/mvc"    
    xmlns:cache="http://www.springframework.org/schema/cache"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans      
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd      
                        http://www.springframework.org/schema/context      
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd      
                        http://www.springframework.org/schema/mvc      
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd  
                        http://www.springframework.org/schema/cache   
                        http://www.springframework.org/schema/cache/spring-cache-4.2.xsd">
                        
                        
     <description>contextConfigLocation</description>
                        
     <context:property-placeholder location="classpath:redis-config.properties"></context:property-placeholder>
     
     <!-- 启用缓存注解功能 -->
     <cache:annotation-driven cache-manager="cacheManager"/>
     
     <!-- redis相关配置 -->
     <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
            <property name="maxIdle" value="${redis.maxIdle}"></property>
            <property name="maxWaitMillis" value="redis.maxWait"></property>
            <property name="testOnBorrow" value="redis.testOnBorrow"></property>
     </bean>
     
     <bean id="JedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.jedisConnectionFactory"
           p:host-name="${redis.host}" p:port="${redis.port}"  p:password="${redis.pass} " p:pool-config-ref="poolConfig">
     </bean>
     
     <bean id="redisTemplate" class="org.springframework.data.redis.core.Redis.core.RedisTemlate">
            <property name="connectionFactory" ref="JedisConnectionFactory"></property>
     </bean>
     
     <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
            <property name="caches">
              <set>
              <!-- 这里可以配置多个redis -->
                <!-- <bean class="com.cn.util.redisCache">
                <property name="redisTemplate" ref="redisTemplate" />
                <property name="name" value="default" />
                </bean> -->
                <bean class="com.cn.util.RedisCache">
                   <property name="redisTemplate" ref="redisTemplate"></property>
                   <property name="name" value="test"></property>
                </bean>
              </set>
            </property>
     </bean>
     
</beans>